body {
    background-color: white;
    background-image: none;
}

#topPhone>a {
    background-color: white;
    color: #353b48;
}

main>ul {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    height: 100%;
    align-items: center;
}

main>ul>li {
    width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main>ul>li>img {
    width: 100%;
    margin: 5px;
}

nav>#button>.categorie>li>a {
    color: #353b48;
}

#button.slide {
    justify-content: center;
}